.home {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding-bottom: 15%;
}

.section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.section.reverse {
  flex-direction: row-reverse;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 75%;
  margin-left: 3rem;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.text-container {
  flex: 1;
}

.text-container h2 {
  font-family: "Homemade Apple", cursive;
  font-size: 2rem;
  margin-bottom: 20px;
}

.text-container p {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #473f34;
}

.text-container-reverse {
  flex: 1;
  margin-left: 3rem;
}

.text-container-reverse h2 {
  font-family: "Homemade Apple", cursive;
  font-size: 2rem;
  margin-bottom: 20px;
}

.text-container-reverse p {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #473f34;
}
