.projects {
  text-align: center;
  padding-top: 150px;
}

.projects h1 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 20%;
}

.project-card {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

.project-details {
  margin-top: 70px;
  padding: 30px;
}

.project-details section {
  margin-bottom: 60px;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.back-to-top {
  display: block;
  margin: 50px auto;
  padding: 10px 30px;
  font-size: 16px;
  background-color: #697d3b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-to-top:hover {
  background-color: #55662f;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  padding-right: 40%;
  padding-top: 12%;
  padding-bottom: 12%;
  gap: 3rem;
  background-color: #473f34;
  box-shadow: 0 6px 8px 0 #00000042;
}

.header-right {
  max-width: 500px;
}

.header-right p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #f0e5cb;
}

