.projects {
  text-align: center;
  padding-top: 150px;
}

.projects h1 {
  margin-bottom: 5px;
  font-size: 2rem;
  font-family: "Homemade Apple", cursive;
  color: #473f34;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 5%;
  padding-bottom: 20%;
}

.project-card {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 font-family: inherit;
 font-size: 15px;
}

button a {
  text-decoration: none;
  color: #393f1a;
  font-weight: 600;
}

button.header-button-projects {
 text-transform: uppercase;
 padding: 1.25em 2em;
 background: #f0e5cb;
 border: 2px solid #393f1a;
 border-radius: 0.75em;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.header-button-projects::before {
 position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #444b22;
 border-radius: inherit;
 -webkit-transform: translate3d(0, 0.75em, -1em);
 transform: translate3d(0, 0.75em, -1em);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.header-button-projects:hover {
 background: #8c9657;
 -webkit-transform: translate(0, 0.25em);
 transform: translate(0, 0.25em);
}

button.header-button-projects:hover::before {
 -webkit-transform: translate3d(0, 0.5em, -1em);
 transform: translate3d(0, 0.5em, -1em);
}

button.header-button-projects:active {
 background: #f0e5cb;
 -webkit-transform: translate(0em, 0.75em);
 transform: translate(0em, 0.75em);
}

button.header-button-projects:active::before {
 -webkit-transform: translate3d(0, 0, -1em);
 transform: translate3d(0, 0, -1em);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

.project-details {
  margin-top: 70px;
  padding: 30px;
}

.project-details section {
  margin-bottom: 60px;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.back-to-top {
  display: block;
  margin: 50px auto;
  padding: 10px 30px;
  font-size: 16px;
  background-color: #697d3b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-to-top:hover {
  background-color: #55662f;
}

.header-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  padding-right: 40%;
  padding-top: 12%;
  padding-bottom: 12%;
  gap: 3rem;
  background-color: #473f34;
  box-shadow: 0 6px 8px 0 #00000042;
}

.header-right-projects {
  max-width: 500px;
}

.header-right-projects p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #f0e5cb;
}

