.header > * {
  position: relative;
  z-index: 2;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  padding-right: 40%;
  padding-top: 12%;
  padding-bottom: 17%;
  gap: 3rem;
  background-color: #221e18;
  box-shadow: 0 6px 8px 0 #00000042;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../public/background_landing3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  opacity: 0.5;
  z-index: 1;
}


.header-left .profile-pic {
  width: 180px;
  height: 180px;
  background: #d7c8b4;
  border-radius: 50%;
}

.header-right {
  max-width: 500px;
}

.hello-text {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #d7c8b4;
}

.header-right p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #d7c8b4;
}

button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 font-family: inherit;
 font-size: 15px;
}

button a {
  text-decoration: none;
  color: #393f1a;
  font-weight: 600;
}

button.header-button {
 text-transform: uppercase;
 padding: 1.25em 2em;
 background: #d7c8b4;
 border: 2px solid #393f1a;
 border-radius: 0.75em;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.header-button::before {
 position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #444b22;
 border-radius: inherit;
 -webkit-transform: translate3d(0, 0.75em, -1em);
 transform: translate3d(0, 0.75em, -1em);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.header-button:hover {
 background: #8c9657;
 -webkit-transform: translate(0, 0.25em);
 transform: translate(0, 0.25em);
}

button.header-button:hover::before {
 -webkit-transform: translate3d(0, 0.5em, -1em);
 transform: translate3d(0, 0.5em, -1em);
}

button.header-button:active {
 background: #d7c8b4;
 -webkit-transform: translate(0em, 0.75em);
 transform: translate(0em, 0.75em);
}

button.header-button:active::before {
 -webkit-transform: translate3d(0, 0, -1em);
 transform: translate3d(0, 0, -1em);
}