.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  padding-right: 40%;
  gap: 3rem;
}

.header-left .profile-pic {
  width: 180px;
  height: 180px;
  background: #473f34;
  border-radius: 50%;
}

.header-right {
  max-width: 500px;
}

.hello-text {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #473f34;
}

.header-right p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #473f34;
}
