/* src/Components/Header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px;
}

.header-left .avatar {
  width: 150px;
  height: 150px;
  background: #555;
  border-radius: 50%;
}

.header-right {
  max-width: 500px;
}

.greeting {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: #111;
}

.header-right p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.6;
}
