body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 1%;
  left: 1%;
  right: 1%;
  width: 94%;
  z-index: 1000;
  border-radius: 50px;
}

.nav-left .nav-logo {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  color: #f0e5cb;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #f0e5cb;
  position: relative;
  transition: color 0.3s;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #8c9657;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: #8c9657;
}

.nav-links li a:hover::after {
  width: 100%;
}
