.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 35px 50px;
  background: #8c9657;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #473f34;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #f0e5c7;
}
