body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background: #8c9657;
  box-shadow: 0 2px 4px 0 #00000033;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.nav-left .nav-logo {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  color: #473f34;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 25px;
  margin: 0;
  padding: 0;
  padding-right: 60px;
}

.nav-links li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #473f34;
  position: relative;
  transition: color 0.3s;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #f0e5c7;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: #f0e5c7;
}

.nav-links li a:hover::after {
  width: 100%;
}
