body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  position: fixed;
  top: 1%;
  left: 1%;
  right: 1%;
  width: 94%;
  z-index: 1000;
  border-radius: 50px;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  transition:
    backdrop-filter 0.3s ease,
    background-color 0.3s ease;
}

.nav-left .nav-logo {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  color: #f0e5cb;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #f0e5cb;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #8c9657;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: #8c9657;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* text readability */
.nav-left .nav-logo,
.nav-links li a {
  text-shadow:
    0 2px 6px rgba(0, 0, 0, 0.6),
    0 0 20px rgba(0, 0, 0, 0.35);
}

.navbar.scrolled {
  transform: translateY(2px);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.navbar.scrolled .nav-left .nav-logo,
.navbar.scrolled .nav-links li a {
  color: #f0e5cb;
  text-shadow:
    0 2px 8px rgba(0, 0, 0, 0.75),
    0 0 25px rgba(0, 0, 0, 0.5);
}
